@import "tailwindcss";
@plugin "daisyui"{
    themes: all;
}

/* add cursor to the buttons*/
@layer base{
    button:not(:disabled),
    [role="button"]:not(:disabled){
        cursor:pointer
    }
}
